*.class
**/target/*
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

\.idea/

*.iml

spark_study/checkpoint/

*.log

spark_study/metastore_db/

spark_study/logs/

traffic/spark/checkpoint/

commerce/metastore_db/

*.crc

*.parquet

*.dat

spark-warehouse/person1/_SUCCESS

metastore_db/

data-processing/checkpoint/behavior/

logs/workers-artifacts/wordcount-1-1543561283/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543561283/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543563185/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543563185/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543567658/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543567658/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543567740/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543567740/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543567766/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543567766/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543567793/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543567793/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543567834/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543567834/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543567878/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543567878/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543567919/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543567919/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543567949/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543567949/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543567985/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543567985/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543568136/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543568136/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543568175/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543568175/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543568287/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543568287/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543568532/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543568532/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543568595/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543568595/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543568672/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543568672/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543568736/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543568736/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543568881/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543568881/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543572299/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543572299/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543572396/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543572396/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543572561/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543572561/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543572608/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543572608/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543572692/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543572692/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543572725/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543572725/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543575680/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543575680/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543575714/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543575714/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543575823/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543575823/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543575853/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543575853/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543575933/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543575933/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543575967/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543575967/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543576382/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543576382/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543576411/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543576411/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543576490/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543576490/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543576619/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543576619/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543576970/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543576970/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543577117/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543577117/1027/worker\.yaml

logs/workers-artifacts/wordcount-1-1543577432/1024/worker\.yaml

logs/workers-artifacts/wordcount-1-1543577432/1027/worker\.yaml
